/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
html {
  overflow: hidden;
}

#root{
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.login{
  display:flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.logo{

}

.ant-pro-global-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.ant-pro-sider-logo {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ant-layout-sider .ant-layout-sider-dark{
  height: 500px;
  flex: 1 !important;
}
#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}


.ant-pro-table-toolbar {
  display: flex;
  margin-bottom: 8px;
  justify-content: flex-end;
}
.ant-pro-table-toolbar-item {
  margin-right: 8px;
}

.ant-pro-table-option-cell {
  display: flex;
  align-items: center;
}

.ant-pro-table-option-cell-item {
  margin-right: 8px;
}











